.card-background {
  background-color: rgb(0, 255, 255);
}

.username {
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}

.caption {
  font-weight: 800;
  font-size: 18px;
}

.card-container {
  padding-top: 4%;
}

@media only screen and (max-width: 575px) {
  .card-background {
    margin: 7%;
  }
}
