#card-background {
  background-color: #eeae7a;
}

.card-background:hover {
  box-shadow: 0 8px 16px 0 rgba(250, 248, 248, 0.3);
}

.icons {
  display: flex;
  justify-content: space-between;
}

.username {
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}

.caption {
  font-weight: 800;
  font-size: 18px;
}

.card-container {
  padding-top: 4%;
}

@media only screen and (max-width: 575px) {
  .card-background {
    margin: 7%;
  }
}
