/* div {
  background-color: #bf6300;
  background-image: url("https://www.transparenttextures.com/patterns/fabric-plaid.png");
} */

body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-color: #bf6300;
  /* background-image: url("https://www.transparenttextures.com/patterns/fabric-plaid.png"); */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
